<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{ @blog.title }}</h5>

                <p class="grey-text text-lighten-4">{{ @blog.description }}</p>
            </div>
            <div class="col l4 s12 white-text">
                <h5 class="white-text">Links</h5>
								{{> navigation }}
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Social</h5>
								{{>social}}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12 m4 grey-text text-lighten-4">
                    © 2014 Copyright by {{ @blog.title }}
                </div>
                <div class="col s12 m4 center-align">
                    <a class="grey-text text-lighten-4" target="_blank" href="https://github.com/ZengineChris/materializedGhost">Materialized Ghost</a>
                </div>
                <div class="col s12 m4 grey-text text-lighten-4">
                    <span class="right">Proudly published with <a class="white-text" href="https://ghost.org/" target="_blank">Ghost</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>