<section class="social-links">
		<ul>
				<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
		</ul>
</section>