{{!< default }}
<aside class="sidebar hide-on-small-only">
   {{> sidebar }}
</aside>
<main class="main">
    <div class="hide-on-med-and-up">
        {{> navbar }}
    </div>
    <section>
        {{> loop/default }}
    </section>
</main>
{{> footer }}