html{
  height: 100%;
}

body{
  background-color: #E5EAED;
  height: 100%;
}

.site-canvas{
  height: 100%;
}

.main{
  position: relative;
  padding-left: 240px;
  padding-right: 40px;
  padding-bottom: 30px;
  min-height: 1000px;
}