@charset "UTF-8";

// Mixins
@import "./../bower_components/materialize/sass/components/prefixer";
@import "./../bower_components/materialize/sass/components/mixins";
@import "./../bower_components/materialize/sass/components/color";

@import "variables";

// Reset
@import "./../bower_components/materialize/sass/components/normalize";


// components
@import "./../bower_components/materialize/sass/components/global";
@import "./../bower_components/materialize/sass/components/icons-material-design";
@import "./../bower_components/font-awesome/scss/font-awesome";
@import "./../bower_components/materialize/sass/components/grid";
@import "components/navbar";
@import "./../bower_components/materialize/sass/components/roboto";
@import "./../bower_components/materialize/sass/components/typography";
@import "components/cards";
@import "./../bower_components/materialize/sass/components/toast";
@import "./../bower_components/materialize/sass/components/tabs";
@import "./../bower_components/materialize/sass/components/tooltip";
@import "./../bower_components/materialize/sass/components/buttons";
@import "./../bower_components/materialize/sass/components/dropdown";
@import "./../bower_components/materialize/sass/components/waves";
@import "./../bower_components/materialize/sass/components/modal";
@import "./../bower_components/materialize/sass/components/collapsible";
@import "./../bower_components/materialize/sass/components/materialbox";
@import "./../bower_components/materialize/sass/components/form";
@import "./../bower_components/materialize/sass/components/table_of_contents";
@import "./../bower_components/materialize/sass/components/sideNav";
@import "./../bower_components/materialize/sass/components/preloader";
@import "./../bower_components/materialize/sass/components/slider";
@import "./../bower_components/materialize/sass/components/date_picker/default.scss";
@import "./../bower_components/materialize/sass/components/date_picker/default.date.scss";
@import "./../bower_components/materialize/sass/components/date_picker/default.time.scss";

@import "layout";
@import "components/image";
@import "components/pagination";
@import "components/post";
@import "components/sidebar";
@import "components/social";
@import "components/prism";
@import "components/social";
@import "animations/fadeIn";



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}