<div id="back" class="action-btn hide-on-small-and-down" style="top: 315px; left: 5%; position: absolute;">
    <a href="{{ @blog.url }}" class="btn-floating btn-large waves-effect waves-light red">
        <i class="large mdi-navigation-arrow-back"></i>
    </a>
</div>