<div id="back-top" class="fixed-action-btn" style="bottom: 5px; right: 25px;">
    <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="large mdi-navigation-expand-less"></i>
    </a>
</div>